<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Valentin Menardie - site de travail</title>
<LINK HREF="main.css" REL="stylesheet">
</head>
<body>
	<header>
		<img src="../media/logo.png" alt="Bro! Did you hear?">
	</header> <!-- end header -->
	
	<div id="content" class="container_12">
	
		<section id="menu">
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Follow us on twitter <img src="../media/twitter.png" alt="twitter"></a></li>
				</ul>
			</nav>
		</section> <!-- end menu -->
		
		<section id="comic"> 
		
			<div id="prev">
				<h3><a href="">Prev</a></h3>
			</div> <!-- end prev -->
			
			<div id="caption">
			
			</div> <!-- end caption -->
			
			<div id="next">
				<h3><a href="">Next</a></h3>
			</div> <!-- end next -->
			
			<div class="clear"></div>
			
			<div id="random">
				<h2><a href="">Random</a></h2>
			</div> <!-- end random -->
			
			<div id="comic_banner">
				
				<div id="banner_left" class="grid_6">
					<h2>Comic of the day</h2>
				</div> <!-- banner_left -->
				
				<div id="banner_right" class="grid_6">
					<p><img src="../media/tw.png" alt="twitter"> <img src="../media/fb.png" alt="facebook"> <img src="../media/gp.png" alt="google plus"></p>
				</div> <!-- banner_right -->
				
				<div class="clear"></div>
				
			</div> <!-- comic_banner -->
		
		</section> <!-- end comic -->
		
		
	</div> <!-- end content -->
	
	<footer>
		<div id="footer_left">
		<p><span class="title">Dude! Did you hear?</span> is consectetur adipiscing elit. In ut sagittis augue. 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem enim, mollis vitae 
		iaculis sit amet, commodo et nulla. Curabitur porta lacus ornare nunc tempor 
		fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
		per inceptos himenaeos.</p>
		</div> <!-- end footer_left -->
		
		<div id="footer_right">
		<p>
		<ul>
			<li><a href="http://twitter.com/vmnrd">Dude! we are on twitter! @dudedidyouhear</a></li>
			<li><a href="http://twitter.com/vmnrd">Get in touch!</a></li>
		</ul>
		</p>
		<p class="copyright">Designed by <a href="http://twitter.com/vmnrd">@vmnrd</a></p>
		</div><!-- end footer_right -->
		<div class="clear"></div>
		
	</footer> <!-- end footer -->
	
</body>
</html>